.modal-button-add {
    margin-top: 1rem;
}

.form {
    margin-left:5px;
    /* align-items: flex-start; */
    text-align: center;
    font-size: 400;
    font-weight: 700;

}

.size {
    width: 70%;
    margin-bottom: 5px;
    text-align: center;
    display: inline;
    margin-left: 1rem;
}
.thick {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.weight {
    width: 35%;
    display: inline-flex;
    margin-left: 0.5rem;
    text-align: center;
}
