.table {
  /* display: flex; */
  max-width: 80%;
  margin-left: 10rem;
  margin-top: 20px;
  position: static;
  font-size: small;
}


.filter-search{
  width: 80%;
  /* position: static; */
  max-width: 80%;
  height: 3rem;
  margin-left: 1rem;
  padding: 2px;
  border-radius: 10px;
  font-size:large;
  font-weight: 500;
}

.button {
  margin: 3px;
  font-size: x-small;
}
